html,body{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0px;
    padding:0px;
    background-color: #efefef;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
input,button{
    border: 0 none;
    border-radius: 0;
    outline: none;
}
.no-data{
    font-size: 0.28rem;
    text-align: center;
}